## Importing Libraries

In [1]:
import pandas as pd

## Loading and understanding Dataset

In [2]:
Data=pd.read_csv("Data Analytics Data Sheet.xlsx - Sheet1.csv")

In [3]:
Data.head()

,NAME,PHONE,Unnamed: 2,PRODUCTS,PRICE,DATE,FEEDBACK,Unnamed: 7
0,Leena,8447401826,+918447401826,"face pack, sunscreen, facescrub",1800,NaN,product is good,NaN
1,Neelu,9910084240,+919910084240,"face pack, face scrub",1000,NaN,"PRODUCT ARE GOOD,WILL CHECK",NaN
2,poonam,9811356112,+919811356112,"body yogurt, sunscreen, lip balm",2000,NaN,good,NaN
3,deepa,8195940911,+918195940911,sunscreen,600,NaN,not interested,NaN
4,suchita,9310539400,+919310539400,"face pack, scrub, sunscreen, body wash, sunscreen",3000,NaN,call cut,NaN

In [4]:
Data.shape

(538, 8)

In [5]:
Data.describe()

,NAME,PHONE,Unnamed: 2,PRODUCTS,PRICE,DATE,FEEDBACK,Unnamed: 7
count,507,458,471,497,496,359,435,1
unique,474,421,432,322,163,77,58,1
top,Lalita beautician,7503407341,+91,lip balm,100,27 November,trade fair,lifestyle and heath tips
freq,6,8,9,20,51,47,204,1

In [6]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538 entries, 0 to 537
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NAME        507 non-null    object
 1   PHONE       458 non-null    object
 2   Unnamed: 2  471 non-null    object
 3   PRODUCTS    497 non-null    object
 4   PRICE       496 non-null    object
 5   DATE        359 non-null    object
 6   FEEDBACK    435 non-null    object
 7   Unnamed: 7  1 non-null      object
dtypes: object(8)
memory usage: 33.8+ KB

In [7]:
Data.columns

Index(['NAME ', 'PHONE', 'Unnamed: 2', 'PRODUCTS', 'PRICE', 'DATE', 'FEEDBACK',
       'Unnamed: 7'],
      dtype='object')

## #Identify and remove duplicate entries to ensure data uniqueness.

In [8]:
Data.duplicated().sum()

26

In [9]:
#Removing duplicate values
Data1 = Data.drop_duplicates()
Data1

,NAME,PHONE,Unnamed: 2,PRODUCTS,PRICE,DATE,FEEDBACK,Unnamed: 7
0,Leena,8447401826,+918447401826,"face pack, sunscreen, facescrub",1800,NaN,product is good,NaN
1,Neelu,9910084240,+919910084240,"face pack, face scrub",1000,NaN,"PRODUCT ARE GOOD,WILL CHECK",NaN
2,poonam,9811356112,+919811356112,"body yogurt, sunscreen, lip balm",2000,NaN,good,NaN
3,deepa,8195940911,+918195940911,sunscreen,600,NaN,not interested,NaN
4,suchita,9310539400,+919310539400,"face pack, scrub, sunscreen, body wash, sunscreen",3000,NaN,call cut,NaN
...,...,...,...,...,...,...,...,...
533,Kusum Jain,986886386,91986886386,6 Soaps,300 ( Offline ),10 January,NaN,NaN
534,Sarita Taneja,9773529277,919773529277,7 Soaps,520 ( Offline ),10 January,NaN,NaN
535,Kanchan,8588805578,918588805578,1 Lipbalm,200 ( Online ),10 January,NaN,NaN
536,Shweta Jain,8750041113,918750041113,"Face Serum,Body Yogurt,Face Pack,Face Scrub.",3000 ( Online/Offline ),10 January,NaN,NaN
537,NaN,NaN,NaN,"Bady Wash,Lipbalm,Face Wash,Sunscreen",NaN,NaN,NaN,NaN

In [10]:
#Check if duplicates were removed
Data1.duplicated().sum()

0

## Handle missing values by filling them with appropriate statistics (mean, median) or removing them, depending on the context.

In [11]:
# Checking missing values
Data.isnull().sum()

NAME           31
PHONE          80
Unnamed: 2     67
PRODUCTS       41
PRICE          42
DATE          179
FEEDBACK      103
Unnamed: 7    537
dtype: int64

In [12]:
# Impute missing values with mode for each column
for column in Data1.columns:
    mode_value = Data1[column].mode()[0]  # [0] is used to get the first mode in case of multiple modes
    Data1[column].fillna(mode_value, inplace=True)

/tmp/ipykernel_449/2416360134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_449/2416360134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_449/2416360134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_449/2416360134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_449/2416360134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_449/2416360134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_449/2416360134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1[column].fillna(mode_value, inplace=True)
/tmp/ipykernel_449/2416360134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1[column].fillna(mode_value, inplace=True)

In [13]:
# Display the DataFrame after mode imputation
print("\nDataFrame after Mode Imputation:")
Data1

DataFrame after Mode Imputation:

,NAME,PHONE,Unnamed: 2,PRODUCTS,PRICE,DATE,FEEDBACK,Unnamed: 7
0,Leena,8447401826,+918447401826,"face pack, sunscreen, facescrub",1800,27 November,product is good,lifestyle and heath tips
1,Neelu,9910084240,+919910084240,"face pack, face scrub",1000,27 November,"PRODUCT ARE GOOD,WILL CHECK",lifestyle and heath tips
2,poonam,9811356112,+919811356112,"body yogurt, sunscreen, lip balm",2000,27 November,good,lifestyle and heath tips
3,deepa,8195940911,+918195940911,sunscreen,600,27 November,not interested,lifestyle and heath tips
4,suchita,9310539400,+919310539400,"face pack, scrub, sunscreen, body wash, sunscreen",3000,27 November,call cut,lifestyle and heath tips
...,...,...,...,...,...,...,...,...
533,Kusum Jain,986886386,91986886386,6 Soaps,300 ( Offline ),10 January,trade fair,lifestyle and heath tips
534,Sarita Taneja,9773529277,919773529277,7 Soaps,520 ( Offline ),10 January,trade fair,lifestyle and heath tips
535,Kanchan,8588805578,918588805578,1 Lipbalm,200 ( Online ),10 January,trade fair,lifestyle and heath tips
536,Shweta Jain,8750041113,918750041113,"Face Serum,Body Yogurt,Face Pack,Face Scrub.",3000 ( Online/Offline ),10 January,trade fair,lifestyle and heath tips
537,Lalita beautician,7503407341,+91,"Bady Wash,Lipbalm,Face Wash,Sunscreen",100,27 November,trade fair,lifestyle and heath tips

In [14]:
Data1.duplicated().sum()

0

## Correct data types for each column (e.g., converting strings to numeric values where appropriate).

In [15]:
# Check if 'PRICE' column is numeric
def is_numeric(column):
    try:
        pd.to_numeric(column)
        return True
    except ValueError:
        return False

In [16]:
# Check if 'PRICE' column is numeric
is_numeric_price = is_numeric(Data1['PRICE'])
print(f"Is 'PRICE' column numeric? {is_numeric_price}")

Is 'PRICE' column numeric? False

In [17]:
Data1['PRICE'] = pd.to_numeric(Data1['PRICE'].replace('[^0-9\.-]', '', regex=True))
Data1

/tmp/ipykernel_449/3402529251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1['PRICE'] = pd.to_numeric(Data1['PRICE'].replace('[^0-9\.-]', '', regex=True))

,NAME,PHONE,Unnamed: 2,PRODUCTS,PRICE,DATE,FEEDBACK,Unnamed: 7
0,Leena,8447401826,+918447401826,"face pack, sunscreen, facescrub",1800.0,27 November,product is good,lifestyle and heath tips
1,Neelu,9910084240,+919910084240,"face pack, face scrub",1000.0,27 November,"PRODUCT ARE GOOD,WILL CHECK",lifestyle and heath tips
2,poonam,9811356112,+919811356112,"body yogurt, sunscreen, lip balm",2000.0,27 November,good,lifestyle and heath tips
3,deepa,8195940911,+918195940911,sunscreen,600.0,27 November,not interested,lifestyle and heath tips
4,suchita,9310539400,+919310539400,"face pack, scrub, sunscreen, body wash, sunscreen",3000.0,27 November,call cut,lifestyle and heath tips
...,...,...,...,...,...,...,...,...
533,Kusum Jain,986886386,91986886386,6 Soaps,300.0,10 January,trade fair,lifestyle and heath tips
534,Sarita Taneja,9773529277,919773529277,7 Soaps,520.0,10 January,trade fair,lifestyle and heath tips
535,Kanchan,8588805578,918588805578,1 Lipbalm,200.0,10 January,trade fair,lifestyle and heath tips
536,Shweta Jain,8750041113,918750041113,"Face Serum,Body Yogurt,Face Pack,Face Scrub.",3000.0,10 January,trade fair,lifestyle and heath tips
537,Lalita beautician,7503407341,+91,"Bady Wash,Lipbalm,Face Wash,Sunscreen",100.0,27 November,trade fair,lifestyle and heath tips

In [21]:
# Defining a function to format phone numbers
def format_phone_number(phone):
    # Remove non-numeric characters
    numeric_phone = ''.join(c for c in phone if c.isdigit())
    
    # Formating phone number to a form (XXX) XXX-XXXX)
    formatted_phone = '({}) {}-{}'.format(numeric_phone[:3], numeric_phone[3:6], numeric_phone[6:])
    
    return formatted_phone

# Applying the format_phone_number function to the 'PHONE' column
Data1['PHONE'] = Data1['PHONE'].apply(format_phone_number)
Data1

/tmp/ipykernel_449/810708675.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1['PHONE'] = Data1['PHONE'].apply(format_phone_number)

,NAME,PHONE,Unnamed: 2,PRODUCTS,PRICE,DATE,FEEDBACK,Unnamed: 7
0,Leena,(844) 740-1826,+918447401826,"face pack, sunscreen, facescrub",1800.0,27 November,product is good,lifestyle and heath tips
1,Neelu,(991) 008-4240,+919910084240,"face pack, face scrub",1000.0,27 November,"PRODUCT ARE GOOD,WILL CHECK",lifestyle and heath tips
2,poonam,(981) 135-6112,+919811356112,"body yogurt, sunscreen, lip balm",2000.0,27 November,good,lifestyle and heath tips
3,deepa,(819) 594-0911,+918195940911,sunscreen,600.0,27 November,not interested,lifestyle and heath tips
4,suchita,(931) 053-9400,+919310539400,"face pack, scrub, sunscreen, body wash, sunscreen",3000.0,27 November,call cut,lifestyle and heath tips
...,...,...,...,...,...,...,...,...
533,Kusum Jain,(986) 886-386,91986886386,6 Soaps,300.0,10 January,trade fair,lifestyle and heath tips
534,Sarita Taneja,(977) 352-9277,919773529277,7 Soaps,520.0,10 January,trade fair,lifestyle and heath tips
535,Kanchan,(858) 880-5578,918588805578,1 Lipbalm,200.0,10 January,trade fair,lifestyle and heath tips
536,Shweta Jain,(875) 004-1113,918750041113,"Face Serum,Body Yogurt,Face Pack,Face Scrub.",3000.0,10 January,trade fair,lifestyle and heath tips
537,Lalita beautician,(750) 340-7341,+91,"Bady Wash,Lipbalm,Face Wash,Sunscreen",100.0,27 November,trade fair,lifestyle and heath tips

In [22]:
# Removing leading spaces for all columns
Data1.columns = Data1.columns.str.strip()
Data1

,NAME,PHONE,Unnamed: 2,PRODUCTS,PRICE,DATE,FEEDBACK,Unnamed: 7
0,Leena,(844) 740-1826,+918447401826,"face pack, sunscreen, facescrub",1800.0,27 November,product is good,lifestyle and heath tips
1,Neelu,(991) 008-4240,+919910084240,"face pack, face scrub",1000.0,27 November,"PRODUCT ARE GOOD,WILL CHECK",lifestyle and heath tips
2,poonam,(981) 135-6112,+919811356112,"body yogurt, sunscreen, lip balm",2000.0,27 November,good,lifestyle and heath tips
3,deepa,(819) 594-0911,+918195940911,sunscreen,600.0,27 November,not interested,lifestyle and heath tips
4,suchita,(931) 053-9400,+919310539400,"face pack, scrub, sunscreen, body wash, sunscreen",3000.0,27 November,call cut,lifestyle and heath tips
...,...,...,...,...,...,...,...,...
533,Kusum Jain,(986) 886-386,91986886386,6 Soaps,300.0,10 January,trade fair,lifestyle and heath tips
534,Sarita Taneja,(977) 352-9277,919773529277,7 Soaps,520.0,10 January,trade fair,lifestyle and heath tips
535,Kanchan,(858) 880-5578,918588805578,1 Lipbalm,200.0,10 January,trade fair,lifestyle and heath tips
536,Shweta Jain,(875) 004-1113,918750041113,"Face Serum,Body Yogurt,Face Pack,Face Scrub.",3000.0,10 January,trade fair,lifestyle and heath tips
537,Lalita beautician,(750) 340-7341,+91,"Bady Wash,Lipbalm,Face Wash,Sunscreen",100.0,27 November,trade fair,lifestyle and heath tips

## Standardize the format of text data, such as customer names and product names, to ensure consistency.

In [23]:
# Converting 'Name' to title case
Data1['NAME'] = Data1['NAME'].str.title()
Data1

/tmp/ipykernel_449/2666186740.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1['NAME'] = Data1['NAME'].str.title()

,NAME,PHONE,Unnamed: 2,PRODUCTS,PRICE,DATE,FEEDBACK,Unnamed: 7
0,Leena,(844) 740-1826,+918447401826,"face pack, sunscreen, facescrub",1800.0,27 November,product is good,lifestyle and heath tips
1,Neelu,(991) 008-4240,+919910084240,"face pack, face scrub",1000.0,27 November,"PRODUCT ARE GOOD,WILL CHECK",lifestyle and heath tips
2,Poonam,(981) 135-6112,+919811356112,"body yogurt, sunscreen, lip balm",2000.0,27 November,good,lifestyle and heath tips
3,Deepa,(819) 594-0911,+918195940911,sunscreen,600.0,27 November,not interested,lifestyle and heath tips
4,Suchita,(931) 053-9400,+919310539400,"face pack, scrub, sunscreen, body wash, sunscreen",3000.0,27 November,call cut,lifestyle and heath tips
...,...,...,...,...,...,...,...,...
533,Kusum Jain,(986) 886-386,91986886386,6 Soaps,300.0,10 January,trade fair,lifestyle and heath tips
534,Sarita Taneja,(977) 352-9277,919773529277,7 Soaps,520.0,10 January,trade fair,lifestyle and heath tips
535,Kanchan,(858) 880-5578,918588805578,1 Lipbalm,200.0,10 January,trade fair,lifestyle and heath tips
536,Shweta Jain,(875) 004-1113,918750041113,"Face Serum,Body Yogurt,Face Pack,Face Scrub.",3000.0,10 January,trade fair,lifestyle and heath tips
537,Lalita Beautician,(750) 340-7341,+91,"Bady Wash,Lipbalm,Face Wash,Sunscreen",100.0,27 November,trade fair,lifestyle and heath tips

In [24]:
# converting product name to upper case
Data1['PRODUCTS'] = Data1['PRODUCTS'].str.upper()
Data1

/tmp/ipykernel_449/1110557570.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data1['PRODUCTS'] = Data1['PRODUCTS'].str.upper()

,NAME,PHONE,Unnamed: 2,PRODUCTS,PRICE,DATE,FEEDBACK,Unnamed: 7
0,Leena,(844) 740-1826,+918447401826,"FACE PACK, SUNSCREEN, FACESCRUB",1800.0,27 November,product is good,lifestyle and heath tips
1,Neelu,(991) 008-4240,+919910084240,"FACE PACK, FACE SCRUB",1000.0,27 November,"PRODUCT ARE GOOD,WILL CHECK",lifestyle and heath tips
2,Poonam,(981) 135-6112,+919811356112,"BODY YOGURT, SUNSCREEN, LIP BALM",2000.0,27 November,good,lifestyle and heath tips
3,Deepa,(819) 594-0911,+918195940911,SUNSCREEN,600.0,27 November,not interested,lifestyle and heath tips
4,Suchita,(931) 053-9400,+919310539400,"FACE PACK, SCRUB, SUNSCREEN, BODY WASH, SUNSCREEN",3000.0,27 November,call cut,lifestyle and heath tips
...,...,...,...,...,...,...,...,...
533,Kusum Jain,(986) 886-386,91986886386,6 SOAPS,300.0,10 January,trade fair,lifestyle and heath tips
534,Sarita Taneja,(977) 352-9277,919773529277,7 SOAPS,520.0,10 January,trade fair,lifestyle and heath tips
535,Kanchan,(858) 880-5578,918588805578,1 LIPBALM,200.0,10 January,trade fair,lifestyle and heath tips
536,Shweta Jain,(875) 004-1113,918750041113,"FACE SERUM,BODY YOGURT,FACE PACK,FACE SCRUB.",3000.0,10 January,trade fair,lifestyle and heath tips
537,Lalita Beautician,(750) 340-7341,+91,"BADY WASH,LIPBALM,FACE WASH,SUNSCREEN",100.0,27 November,trade fair,lifestyle and heath tips

In [25]:
Data1.to_csv("Cleaned_Data Analytics Data Sheet.xlsx - Sheet1.csv")